* {
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@600&display=swap");

body p {
  font-family: "Roboto", sans-serif;
}
body h2,
button {
  font-family: "Epilogue", sans-serif;
}

/*COLUMNAS*/
.appComponent {
  height: 100%;
  width: 100%;
  position: absolute;
}
.headerComponent {
  background: #e7ecef;
  width: 100%;
  height: 60px;
}
.beeComponent {
  text-align: center;
}
.raya {
  border: 1px solid;
}
.beesComponent {
  background: #e7ecef;
  height: 100vh;
  float: left;
  overflow: scroll;
}
.postsComponent {
  background: #e7ecef;
  height: 100vh;
  float: left;
  overflow: scroll;
}
.albumComponent {
  background: #e7ecef;
  height: 100vh;
  float: left;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.todosComponent {
  background: #e7ecef;
  height: 100vh;
  float: left;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*INFO BEECOMPONENT*/
.beeName {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}
.beeUserName {
  font-size: 16px;
  font-weight: 600;
}
.beeEmail {
  font-size: 16px;
  font-weight: 600;
}
.beeImage {
  padding-top: 12px;
  width: 165px;
  height: 165px;
  border-radius: 160px;
  padding: 8px;
  background: #007bff;
}
.beePhone {
  font-size: 16px;
  font-weight: 600;
}
.beeCity {
  font-size: 16px;
  font-weight: 600;
}
.postBtn {
  display: inline-block;
  padding: 0.6em 1.1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  font-family: "Roboto", sans-serif;
  color: #fff;
  outline: none;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgb(255 255 255);
  font-weight: bold;
}

.albumBtn {
  display: inline-block;
  padding: 0.6em 1.1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgb(255 255 255);
  font-weight: bold;
}
.todoBtn {
  display: inline-block;
  padding: 0.6em 1.1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgb(255 255 255);
  font-weight: bold;
}

/*Loader*/
.wrapper {
  background: #e7ecef;
  display: flex;
  cursor: default;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bee {
  animation: hover 2s ease-in-out infinite;
}
.beeBody {
  position: relative;
  margin: 136px 130px 38px 130px;
  min-width: 130px;
  background: #ffca31;
  height: 130px;
  border-radius: 50%;
  background-size: 130px 65px, cover, cover, cover;
  background-image: linear-gradient(to bottom, transparent 50%, #292929 50%),
    radial-gradient(circle at 51% 36%, #ffd764 47%, transparent 47%),
    radial-gradient(circle at 51% 53%, #ffd764 55%, transparent 55%),
    radial-gradient(circle at 60% 53%, #ffebb1 60%, transparent 60%);
  box-shadow: 35px -105px 0 -44px #ffd764, -35px -105px 0 -44px #ffd764,
    38px -107px 0 -41px #ffebb1, -32px -107px 0 -41px #ffebb1,
    35px -105px 0 -38px #ffca31, -35px -105px 0 -38px #ffca31,
    3px -95px 0 -18px #ffd764, 5px -100px 0 -15px #ffebb1,
    0px -95px 0 -10px #ffca31, -35px -183px 0 -57px #363636,
    35px -183px 0 -57px #363636, -33px -185px 0 -56px #505050,
    37px -185px 0 -56px #505050, -35px -184px 0 -54px #292929,
    35px -184px 0 -54px #292929;
}
.beeBody:after {
  position: absolute;
  content: "";
  background: linear-gradient(to bottom, transparent 50%, #363636 50%);
  height: 130px;
  width: 130px;
  right: 0px;
  bottom: 0px;
  background-size: 130px 65px;
  border-radius: 50%;
  -webkit-clip-path: ellipse(41% at 51% 48%);
  clip-path: ellipse(41% at 51% 48%);
}
.beeBody:before {
  position: absolute;
  content: "";
  background: linear-gradient(to bottom, transparent 50%, #434343 50%);
  height: 130px;
  width: 130px;
  background-size: 130px 65px;
  border-radius: 50%;
}

.boca {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 55px;
  bottom: 132px;
  border-radius: 50%;
  box-sizing: border-box;
  border-bottom: 5px solid #363636;
}

.antena {
  position: relative;
  z-index: -2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: -75px;
  bottom: 130px;
  border: 8px solid #363636;
  box-sizing: border-box;
  border-style: hidden hidden hidden solid;
  transform: skewY(-20deg);
}
.antena:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: -87px;
  bottom: 30px;
  border: 8px solid #363636;
  box-sizing: border-box;
  border-style: hidden solid hidden hidden;
  -webkit-transform: skewY(40deg);
  transform: skewY(40deg);
}
.antena:after {
  -webkit-transform: skewY(20deg);
  transform: skewY(20deg);
  position: absolute;
  content: "";
  bottom: -213px;
  left: -33px;
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, #292929 50%, #363636 50%);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.beeLeft {
  animation: flight-left 0.5s ease-out infinite;
  content: "";
  position: absolute;
  background-color: #f8f8ff;
  height: 100px;
  width: 150px;
  bottom: 110px;
  right: 100px;
  border-radius: 30px 130px 0 130px;
  transform: skewY(20deg);
  z-index: -1;
  box-shadow: inset 30px 105px 0 -70px #fff;
}
.beeLeft:after {
  animation: flight-little 0.5s ease-in-out infinite;
  content: "";
  position: absolute;
  width: 100px;
  height: 110px;
  top: 70px;
  left: 48px;
  background-color: #f0f0f0;
  border-radius: 50% / 50% 0 100% 50%;
  box-shadow: inset 10px 1px 0px 0px #fff, inset 30px 7px 0px 0px #f6f6f6;
}

.beeRight {
  animation: flight-right 0.5s ease-in-out infinite;
  content: "";
  position: absolute;
  background-color: #f8f8ff;
  height: 100px;
  width: 150px;
  bottom: 110px;
  left: 100px;
  border-radius: 30px 130px 0 130px;
  border-radius: 130px 30px 130px 0px;
  transform: skewY(-20deg);
  z-index: -1;
  box-shadow: inset 30px 105px 0 -70px #fff;
}
.beeRight:after {
  animation: flight-little 0.5s ease-in-out infinite;
  content: "";
  position: absolute;
  width: 100px;
  height: 110px;
  top: 70px;
  right: 48px;
  background-color: #f0f0f0;
  border-radius: 50% / 0 50% 50% 100%;
  box-shadow: inset -10px 1px 0px 0px #fff, inset -30px 7px 0px 0px #f6f6f6;
}

.blink {
  position: relative;
}
.blink:before {
  background-image: radial-gradient(circle at 71% 38%, #fff 8%, transparent 8%),
    radial-gradient(circle at 65% 50%, #363636 16%, transparent 16%),
    radial-gradient(circle at 69% 47%, #434343 19%, transparent 19%),
    radial-gradient(circle at 65% 50%, #292929 25%, transparent 25%),
    radial-gradient(ellipse at 50% 55%, #f8f8ff 50%, transparent 50%),
    radial-gradient(circle at 70% 50%, #fff 65%, transparent 65%);
  left: 2px;
}
.blink:before,
.blink:after {
  clip-path: ellipse(50% 20% at 50% 50%);
  content: "";
  position: absolute;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #f0f0f0;
  top: -67px;
  animation: blink 10s linear infinite;
}
.blink:after {
  background-image: radial-gradient(circle at 41% 38%, #fff 8%, transparent 8%),
    radial-gradient(circle at 35% 50%, #363636 16%, transparent 16%),
    radial-gradient(circle at 39% 47%, #434343 19%, transparent 19%),
    radial-gradient(circle at 35% 50%, #292929 25%, transparent 25%),
    radial-gradient(ellipse at 50% 55%, #f8f8ff 50%, transparent 50%),
    radial-gradient(circle at 70% 50%, #fff 65%, transparent 65%);
  left: 73px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sombra {
  height: 45px;
  width: 170px;
  border-radius: 50%;
  background-color: #d3d5d6;
  -webkit-animation: shadow 2s ease-in-out infinite;
  animation: shadow 2s ease-in-out infinite;
}

@keyframes blink {
  0% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  9% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  10% {
    clip-path: ellipse(50% 5% at 50% 50%);
  }
  11% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  30% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  31% {
    clip-path: ellipse(50% 5% at 50% 50%);
  }
  32% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  33% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  34% {
    clip-path: ellipse(50% 5% at 50% 50%);
  }
  35% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  50% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  60% {
    clip-path: ellipse(50% 20% at 50% 50%);
  }
  61% {
    clip-path: ellipse(50% 20% at 50% 50%);
  }
  69% {
    clip-path: ellipse(50% 20% at 50% 50%);
  }
  70% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  79% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  80% {
    clip-path: ellipse(50% 5% at 50% 50%);
  }
  81% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  100% {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
}
@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes sombra {
  0% {
    width: 170px;
  }
  50% {
    width: 180px;
  }
  100% {
    width: 170px;
  }
}
@keyframes sombra {
  0% {
    width: 170px;
  }
  50% {
    width: 180px;
  }
  100% {
    width: 170px;
  }
}
@keyframes flight-left {
  0% {
    width: 150px;
    transform: skewY(20deg);
  }
  50% {
    width: 125px;
    transform: skewY(25deg);
  }
  100% {
    width: 150px;
    transform: skewY(20deg);
  }
}
@keyframes flight-left {
  0% {
    width: 150px;
    transform: skewY(20deg);
  }
  50% {
    width: 125px;
    transform: skewY(25deg);
  }
  100% {
    width: 150px;
    transform: skewY(20deg);
  }
}
@keyframes flight-right {
  0% {
    width: 150px;
    transform: skewY(-20deg);
  }
  50% {
    width: 125px;
    transform: skewY(-25deg);
  }
  100% {
    width: 150px;
    transform: skewY(-20deg);
  }
}
@keyframes flight-right {
  0% {
    width: 150px;
    transform: skewY(-20deg);
  }
  50% {
    width: 125px;

    transform: skewY(-25deg);
  }
  100% {
    width: 150px;
    transform: skewY(-20deg);
  }
}
@keyframes flight-little {
  0% {
    height: 110px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 110px;
  }
}
@keyframes flight-little {
  0% {
    height: 110px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 110px;
  }
}

/*Posts*/
.postComponent {
  width: 100%;
  padding-top: 15px;
}
.postTitle {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  color: #000;
  text-align: center;
  background-color: #d8d8d8;
}

.postBody {
  font-size: 14px;
  padding-bottom: 15px;
  background: #cccccc;
}

.btnAddComment {
  display: inline-block;
  padding: 0.8em 1.1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  margin-left: 51px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  outline: none !important;
  color: #fff;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgb(255 255 255);
}
.btnAddComment:active {
  top: 0.1em;
}

/*Comments*/
.commentName {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: #000;
  text-align: center;
  margin-top: 10px;
  background-color: #d8d8d8;
}
.commentBody {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}
.commentEmail {
  font-weight: bolder;
  text-align: center;
}
/*Add to comment form*/
.titleComment {
  text-align: center;
}
.lineCommentTitle {
  border: 1px solid #0069d9;
  width: 45%;
  margin-left: 103px;
}
.commentFormComponent {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formBackground {
  background: #e7ecef;
  width: 400px;
  height: 424px;
  padding-left: 18px;
  padding-top: 38px;
  border-radius: 10px;
  box-shadow: 6px 6px 7px -4px rgba(0, 105, 217, 1);
}

form div .field,
form label,
form input,
form textarea {
  width: 87%;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

label,
input,
textarea {
  padding: 8px;
}
label {
  transition: all 0.5s ease;
}
label,
[placeholder] {
  color: #000;
  letter-spacing: 3px;
}

label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
}

input,
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
}
input:focus,
textarea:focus {
  background: white;
  box-shadow: none;
}

textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0;
}

.swal2-styled.swal2-confirm {
  background-color: #007bff;
  border-color: #007bff;
  font-weight: bold;
}
.swal2-title {
  color: #000000 !important;
}
.cancelBtnCommentPost {
  display: inline-block;
  padding: 0.8em 1.8em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  margin-left: 43px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  outline: none !important;
  color: #fff;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em #fff;
}

.enviarBtnCommentPost {
  display: inline-block;
  padding: 0.8em 1.8em;
  border-radius: 0.15em;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  outline: none !important;
  color: #fff;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em #fff;
}

/*PhotosComponent*/
.thumbnailComponent {
  width: 100%;
  margin: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.thumbnail {
  width: 70%;
  padding-bottom: 13px;
  cursor: pointer;
}
@keyframes thumbnail {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.thumbnail:hover {
  animation: thumbnail 1s ease;
  animation-iteration-count: 1;
}
.photo {
  max-width: 350px;
  padding-bottom: 10px;
}
.cerrarBtnPhoto {
  display: inline-block;
  padding: 0.8em 1.8em;
  border-radius: 0.15em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  outline: none !important;
  color: #fff;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em #fff;
}
.photoComponent {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleThumnail {
  text-align: center;
  font-size: 18px;
  background-color: #d8d8d8;
}
.todoComponent {
  min-height: 50px;
  width: 96%;
  height: auto;
  margin: 0px 2% 2% 2%;
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
}
.todoComponentCompleted {
  min-height: 50px;
  margin: 0px 2% 2% 2%;
}
.divList {
  background: #d8d8d8;
  width: 286px;
  position: relative;
}
.divList ul {
  position: relative;
  padding: 20px;
}
.divList ul li {
  position: relative;
  list-style: none;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.divList ul li:last-child {
  border-bottom: none;
}
.divList ul li label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.divList ul li label input {
  visibility: hidden;
  appearance: none;
}
.divList ul li label p {
  position: absolute;
  left: -11px;
  top: -16px;
  max-width: 213px;
  color: #000;
}
.divList ul li label span {
  position: relative;
  width: 20px;
  height: 20px;
  left: 15px;
  border: 1px solid #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divList ul li label span:before {
  content: "";
  position: absolute;
  top: 5px;
  width: 10px;
  height: 5px;
  border-left: 2px solid #007bff;
  border-bottom: 2px solid #007bff;
  transform: rotate(-40deg);
}
.divList ul li label input:checked ~ p {
  text-decoration: line-through;
  color: #000;
}
.divList ul li label input:checked ~ span {
  background: #03a9f4;
  border: 1px solid #03a9f4;
}
.divList ul li label input:checked ~ span::before {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
/*New Posts*/
.newPostBtn {
  background-image: url("../img/añadir.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  float: right;
  position: fixed;
  opacity: 0.7;
  transition: 1s ease-in;
  bottom: 10px;
}
.newPostBtn:hover {
  transform: scale(1.2);
  transition: 1s ease-in;
  cursor: pointer;
  opacity: 1;
}

.enviarBtnNewPost {
  display: inline-block;
  padding: 0.8em 1.8em;
  border-radius: 0.15em;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  outline: none !important;
  color: #fff;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em #fff;
}

.cancelBtnNewPost {
  display: inline-block;
  padding: 0.8em 1.8em;
  border-radius: 0.15em;
  margin-left: 45px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  outline: none !important;
  color: #fff;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em #fff;
}

/*New Todo*/
.newTodoBtn {
  background-image: url("../img/añadir.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  float: right;
  position: fixed;
  opacity: 0.7;
  transition: 1s ease-in;
  bottom: 10px;
  z-index: 999;
  margin-left: -180px;
}
.newTodoBtn:hover {
  transform: scale(1.2);
  transition: 1s ease-in;
  cursor: pointer;
  opacity: 1;
}
.cancelBtnNewTodo {
  display: inline-block;
  padding: 0.8em 1.8em;
  border-radius: 0.15em;
  margin-left: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 13px;
  border: none;
  outline: none !important;
  color: #fff;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em #fff;
}
.enviarBtnNewTodo {
  display: inline-block;
  padding: 0.8em 1.8em;
  border-radius: 0.15em;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  outline: none !important;
  color: #fff;
  background-color: #007bff;
  box-shadow: inset 0 -0.6em 0 -0.35em #fff;
}

.formBackgroundTodo {
  background: #e7ecef;
  width: 400px;
  height: 307px;
  padding-left: 18px;
  padding-top: 38px;
  border-radius: 10px;
  box-shadow: 6px 6px 7px -4px rgba(0, 105, 217, 1);
}
