@media (max-width: 500px) {
    .beesComponent {
      width: 100% !important;
    }
    .postsComponent {
      display: none;
      width: 100% !important;
    }
    .btnAddComment{
      margin-left: 141px;
    }
    .albumComponent {
      display: none;
      width: 100% !important;
    }
    .thumbnail{
      width: 60%;
    }
    .todosComponent {
      display: none;
      width: 100 !important;
    }
    .divList{
      width: 100%;
    }
  }

/* @media (max-width: 575px) {
    .beesComponent {
      width: 50%;
    }
    .postsComponent {
      width: 50%;
    }
    .albumComponent {
      display: none;
      width: 50%;
    }
    .todosComponent {
      display: none;
      width: 50%;
    }
  } */
  @media (min-width: 576px) and (max-width: 767px) {
  }
  @media (min-width: 768px) and (max-width: 991px) {
  }
  

  /*Tablet
  @media (min-width: 992px) and (max-width: 1199px) {
    .beesComponent {
      width: 1000% !important;
    }
    .postsComponent {
      width: 100% !important;
    }
    .btnAddComment{
   
    }
    .albumComponent {
      display: none;
      width: 100% !important;
    }
    .thumbnail{

    }
    .todosComponent {
      display: none;
      width: 100 !important;
    }
    .divList{

    }
  }
  }*/
  @media (min-width: 1200px) {
  }
  