@media (max-width: 500px) {
    .beesComponent {
      width: 100% !important;
    }
    .postsComponent {
      display: none;
      width: 100%;
    }
    .albumComponent {
      display: none;
      width: 100%;
    }
    .todosComponent {
      display: none;
      width: 100%;
    }
    .enviarBtn {
      left: 70%;
    }
    .cancelBtn {
      left: 35%;
    }
  }

@media (max-width: 575px) {
    .beesComponent {
      width: 50%;
    }
    .postsComponent {
      width: 50%;
    }
    .albumComponent {
      display: none;
      width: 50%;
    }
    .todosComponent {
      display: none;
      width: 50%;
    }
    .enviarBtn {
      left: 70%;
    }
    .cancelBtn {
      left: 35%;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
  }
  @media (min-width: 768px) and (max-width: 991px) {
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  @media (min-width: 1200px) {
  }
  